body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ","sans-serif";
}

h1 {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f1f1f1;
  border-left: 4px red solid;
  padding: 5px 0 5px 15px;
  width: 500px;
  font-size: 20px
}

form {
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 3px #ebebeb solid;
  border-radius: 10px;
  margin-top: 30px;
  width: 500px;
  
}

form div {
  padding: 15px;
}

textarea, .text, .dropdown {
  border: 1px solid #dfdfdf;
  padding: 5px;
  color: #999;
  background: #fff;
}

.submit {
  color: white;
  background-color: #dfdfdf;
  border: 1px solid lightgray;
  padding: 4px 10px;
  border-radius: 5px;
  border-bottom: solid 2px gray;
}